.form-group {
  margin-bottom: 1.5rem;
  position: relative;
}

/* Form Row and Column Spacing */
.row {
  margin-bottom: 1rem;
}

.row:last-child {
  margin-bottom: 0;
}

.col-6,
.col-4 {
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (max-width: 768px) {
  .col-6 {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

@media (max-width: 576px) {
  .col-6 {
    width: 100%;
    margin-bottom: 1rem;
    padding-right: 0;
    padding-left: 0;
  }
}