@if (show()) {
<div class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0,0,0,0.5);"
  (click)="onBackdropClick($event)">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ getCurrentTitle() }}</h5>
        <button type="button" class="btn-close" (click)="onCancel()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="mb-0">{{ getCurrentMessage() }}</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="onCancel()" type="button">
          {{ cancelText() }}
        </button>
        <button class="btn btn-danger" (click)="onConfirm()" type="button">
          {{ confirmText() }}
        </button>
      </div>
    </div>
  </div>
</div>
}